[submodule "santa-tracker-kotlin"]
	path = santa-tracker-kotlin
    url = https://github.com/gradle/santa-tracker-android
	branch = agp-3.6.0
[submodule "gradle-profiler"]
	path = gradle-profiler
	url = https://github.com/gradle/gradle-profiler
[submodule "gradle-benchmark-base"]
	path = gradle-benchmark-base
	url = https://github.com/gradle/gradle-benchmark-base
