[submodule "santa-tracker"]
	path = santa-tracker
    url = https://github.com/gradle/santa-tracker-android
	branch = main
[submodule "gradle-profiler"]
	path = gradle-profiler
	url = https://github.com/gradle/gradle-profiler
[submodule "gradle-benchmark-base"]
	path = gradle-benchmark-base
	url = https://github.com/gradle/gradle-benchmark-base
